body, html {
  width:100%;
  background-image:url(./background.png); 
  background-repeat:no-repeat;
  background-size:cover;    
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.image.jpg',sizingMethod='scale');
  -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.jpg',sizingMethod='scale')";
}
.flex-container {
    display: flex;

}
.btn {
    background-color: rgb(245, 3, 3);
    justify-content: center
}
#play{
   position: absolute;
   top: 45%;
   left: 0px;
}
#stop{
   position: absolute;
   top: 45%;
   right: 0px;
}
.circle{
   width: 700px;
   height:700px;
   border-radius: 50%;
   margin: 0 auto;
   float: none;
   position: relative;
   background: black;
  
}
.ttwrapper{
   text-align: center;
}
.turn-table{
   width: 500;
   height: 500;
   border-radius: 50%;
   /* margin-left: 50px; */
   position: float;
   margin-top: 100px;
}
.circle svg { 
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%;
    animation-name: rotate;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
  
  @keyframes rotate {
      from { transform: rotate(0); }
      to { transform: rotate(360deg); }
};





/* body{
  margin-top: 150px;
  }
  
  
  
  .flex-container {
  display: flex;
  
  }
  
  .btn {
  background-color: rgb(245, 3, 3);
  justify-content: center
  }
  
  #play{
   position: absolute;
   top: 45%;
   left: 0px;
  }
  
  #stop{
   position: absolute;
   top: 45%;
   right: 0px;
  }
  
  .circle{
   width: 700px;
   height:700px;
   border-radius: 50%;
   margin: 0 auto;
   float: none;
   position: relative;
  
  
  
  
   background:rgb(107, 93, 93)
  
  }
  
  
  .ttwrapper{
   text-align: center;
  } */
  
  /* .turn-table{
   width: 500;
   height: 500;
   border-radius: 50%;
   position: float;
   margin-top: 100px;
  } */
 
/* .flex-container {
display: flex;
margin-top: 150px
}
 
.btn {
background-color: rgb(245, 3, 3);
justify-content: safe
}
  
.circle{
  width:900px;
  height:900px;
  border-radius:450px;
  font-size:20px;
  line-height:100px;
  text-align:center;
  background:rgb(8, 8, 8)
}
 
#content {
  width: 900px ;
  margin-left: auto ;
  margin-right: auto ;
  position: relative;
}
 
.img {
  margin-top: 225px;
} */






/* body{
  background-color: green;
}
.container{
  display: flex;
  background-color: red;

}
.flex-container {
    display: flex;
    flex-direction: column;
    background-color: black;     
  }

  .bg-info {
    background-color: black;
    display: flex;
    justify-content: center;

  }
  
.btn {
    width: 200px;
    margin: 15px;
    text-align: center;
    line-height: 420px;
    font-size: 30px;
    color: red;
} */
    


